<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo-wrapper">
      <div class="logo">
        <a href="/main"></a>
      </div>
      <a href="/main" class="text">
        <div>KUDO INTERNATIONAL FEDERATION</div>
        <div>UKRAINE</div>
      </a>
    </div>

    <div class="navbar">
      <button mat-button>ГОЛОВНА</button>
      <button mat-button>ПРО НАС</button>
      <button mat-button>НОВИНИ</button>
      <button mat-button>КЛУБИ І ЗАЛИ</button>
      <button mat-button>ТРЕНЕРИ</button>
      <button mat-button>СПОРТСМЕНИ</button>
      <button mat-button>ГАЛЕРЕЯ</button>
      <button mat-button>КОНТАКТИ</button>
    </div>

    <div class="socials">
      <button mat-icon-button >
        <img style="color: red" src="assets/icons/icons8-facebook.svg" alt="fb">
      </button>
      <button mat-icon-button >
        <img style="color: red" src="assets/icons/icons8-instagram.svg" alt="inst">
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
